<% provide(:title, 'ZERO | Про zero') %>
<body>
	<div id="container">
		<%= render 'layouts/header' %>
		<div id="middle">
			<div id="left">
				<ul class="l-menu">	
					<li class="active"><%= link_to "про зеро", about_path %></li>
					<li><%= link_to "клиенты", clients_path %></li>
					<li><%= link_to "пресс-кит", kit_path %></li>
				</ul>
			</div>

			<div id="right">
				<div class="h1">
					<h1>пару слов о zero</h1>
				</div>
					
				<div class="content">
					<p>Мы осуществляем маркетинговый консалтинг для компаний B2B-рынка. Это предполагает разработку и реализацию полноценной программы интегрированных маркетинговых коммуникаций или отдельных ее элементов.</p>

					<p><strong>В состав ZERO входят следующие функциональные подразделения</strong>:</p>
					<ul>
						<li><strong>Zero Marketing</strong>: маркетинговый консалтинг, исследования, разработка стратегии и позиционирования, бренд-программирование, коммуникационная стратегия, программы интегрированных маркетинговых коммуникаций;</li>
						<li><strong>Zero Creative</strong>: разработка креативных решений;</li>
						<li><strong>Zero Communications</strong>: разработка коммуникационной стратегии и программы, PR-мероприятия и комплексное PR-обслуживание;</li>
						<li><strong>Zero Design</strong>: дизайн-концепт, дизайн-проектирование;</li>
						<li><strong>Zero Print</strong>: предпечатная подготовка и принт-менеджмент;</li>
						<li><strong>Zero Expo</strong>: разработка дизайн-концепции и монтаж выставочных стендов и конструкций;</li>
						<li><strong>Zero Web</strong>: веб-проектирование, дизайн и программирование сайта, оптимизация и обслуживание сайта.</li>
					</ul>
					<p>B2B рынок — наша специализация.<br />
					Осмысленные творческие коммуникации в сфере B2B — наша работа.</p>
					<p><a href="#">Скачать буклет "Избранные проекты" в pdf</a><br />
					Как нас правильно называть?</p>

					<p>Официальное название: ZERO b2b communications agency.<br />
					Как произносится: Зеро <a href="#">би-ту-би</a> <a href="#">коммьюникейшнз</a> <a href="#">эйдженси</a>.</p>

					<p>Альтернативный русскоязычный вариант: коммуникационное агентство ZERO.</p>
				</div>
			</div>
		</div>
		
		<div class="footer-space"></div>
	</div>
	
	<div id="footer">
		<div class="footer-ins">
			<div class="f-menu">
				<span class="f-title">Разделы</span>
				<ul>
					<li><a href="#">компания</a></li>
					<li><a href="works.html">работы</a></li>
					<li><a href="#">награды</a></li>
					<li><a href="contacts.html">контакты</a></li>
				</ul>
			</div>
			
			<ul class="f-social">
				<li class="vk"><a href="#" title="Вконтакте">Вконтакте</a></li>
				<li class="tw"><a href="#" title="Twitter">Twitter</a></li>
				<li class="fb"><a href="#" title="Facebook">Facebook</a></li>
				<li class="in"><a href="#" title="LinkedIn">LinkedIn</a></li>
			</ul>
			
			<div class="f-who">
				<span class="f-title">Кто мы?</span>
				<p>Мы осуществляем маркетинговый консалтинг для компаний b2b-рынка. Это предполагает разработку и реали-<br />зацию полноценной программы инте-<br />грированных маркетинговых коммуни-<br />каций или отдельных ее элементов.</p>
			</div>
		
			<div class="f-contacts">
				<span class="f-title">Адрес</span>
				<p>118108, Санкт-Петербург,<br />ул. Достоевского, 44Е<br />+7 (812) 600-21-79<br /><a href="#">office@zonazero.ru</a></p>
			</div>	
		</div>
	</div>
	
	<div class="order-block" id="order-block">
		<form name="order-form" id="order-form" method="POST" action="">
			<ul>
				<li>
					<label>Имя:</label>
					<input type="text" name="name">
				</li>
				
				<li>
					<label>Компания:</label>
					<input type="text" name="name">
				</li>
				
				<li>
					<label>Должность:</label>
					<input type="text" name="name">
				</li>
				
				<li>
					<label>Телефон:</label>
					<div class="ob-answer ob-phone">
						<p>( <input type="text" class="p-code"> ) <input type="text" class="p-number"><a href="#" title="Удалить" class="p-remove">Удалить</a><a href="#" title="Добавить" class="p-add">Добавить</a></p>
					</div>
				</li>
				
				<li>
					<label>Эл. почта:</label>
					<input type="text" name="name">
				</li>
				
				<li>
					<label>Чем интересуетесь:</label>
					<div class="ob-answer ob-interest">
						<p><a href="#">Маркетинговые коммуникации</a></p>
						<div class="oba-sub">
							<p><input type="checkbox" id="555" /><label for="555">Разработка промо-сайта</label></p>
							<p><input type="checkbox" id="666" /><label for="666">Разработка корпоративного сайта</label></p>
							<p><input type="checkbox" id="777" /><label for="777">Разработка интернет-магазина</label></p>
						</div>
						
						<p><a href="#">Дизайн</a></p>
						<div class="oba-sub">
							<p><input type="checkbox" id="5555" /><label for="5555">Разработка промо-сайта</label></p>
							<p><input type="checkbox" id="6666" /><label for="6666">Разработка корпоративного сайта</label></p>
							<p><input type="checkbox" id="7777" /><label for="7777">Разработка интернет-магазина</label></p>
						</div>
						
						<p><a href="#">Эвент-маркетинг</a></p>
						<div class="oba-sub">
							<p><input type="checkbox" id="55555" /><label for="55555">Разработка промо-сайта</label></p>
							<p><input type="checkbox" id="66666" /><label for="66666">Разработка корпоративного сайта</label></p>
							<p><input type="checkbox" id="77777" /><label for="77777">Разработка интернет-магазина</label></p>
						</div>
						
						<p><a href="#">Веб-проекты</a></p>
						<div class="oba-sub">
							<p><input type="checkbox" id="555555" /><label for="555555">Разработка промо-сайта</label></p>
							<p><input type="checkbox" id="666666" /><label for="666666">Разработка корпоративного сайта</label></p>
							<p><input type="checkbox" id="777777" /><label for="777777">Разработка интернет-магазина</label></p>
						</div>
						
						<p><a href="#">Комплексные решения</a></p>
						<div class="oba-sub">
							<p><input type="checkbox" id="5555555" /><label for="5555555">Разработка промо-сайта</label></p>
							<p><input type="checkbox" id="6666666" /><label for="6666666">Разработка корпоративного сайта</label></p>
							<p><input type="checkbox" id="7777777" /><label for="7777777">Разработка интернет-магазина</label></p>
						</div>
					</div>
				</li>
				
				<li>
					<label>Примечания:</label>
					<textarea></textarea>
				</li>
				
				<li>
					<label>Хотели бы получить ответ, содержащий:</label>
					<div class="ob-answer">
						<p><input type="checkbox" id="1" /><label for="1">Прайс-лист на указанные услуги</label></p>
						<p><input type="checkbox" id="2" /><label for="2">Презентации проектов</label></p>
						<p><input type="checkbox" id="3" /><label for="3">Референс-лист</label></p>
						<p><input type="checkbox" id="4" /><label for="4">Краткую справку об агентстве</label></p>
					</div>
				</li>
				
				<li>
					<label>Откуда вы узнали о ZERO?:</label>
					<div class="ob-answer oba-zero">
						<p><input type="checkbox" id="5" /><label for="5">Рекомендация</label></p>
						<p><input type="checkbox" id="6" /><label for="6">Публикация в СМИ</label></p>
						<p><input type="checkbox" id="7" /><label for="7">Справочник</label></p>
						<p><input type="checkbox" id="8" /><label for="8">Поиск в интернете</label></p>
						<p><input type="checkbox" id="9" /><label for="9">Отраслевое мероприятие</label></p>
					</div>
				</li>
				<li>
					<label>&nbsp;</label>
					<div class="ob-answer">
						<a href="#" class="ob-submit" tabindex="1" rel="nofollow">Отправить запрос</a>
					</div>
				</li>
			</ul>
		</form>
		
		<a href="index.html" class="logo" title="На главную">ZERO b2b communications agency</a>
		<a href="#" class="ob-close"><span>Заказать</span></a>
	</div>
</body>
</html>