<div id="footer">
	<div class="footer-ins">
		<div class="f-menu">
			<span class="f-title">Разделы</span>
			<ul>
				<li><a href="#">компания</a></li>
				<li><a href="#">работы</a></li>
				<li><a href="#">награды</a></li>
				<li><a href="#">контакты</a></li>
			</ul>
		</div>
		
		<ul class="f-social">
			<li class="vk"><a href="#" title="Вконтакте">Вконтакте</a></li>
			<li class="tw"><a href="#" title="Twitter">Twitter</a></li>
			<li class="fb"><a href="#" title="Facebook">Facebook</a></li>
			<li class="in"><a href="#" title="LinkedIn">LinkedIn</a></li>
		</ul>
		
		<div class="f-who">
			<span class="f-title">Кто мы?</span>
			<p>Мы осуществляем маркетинговый консалтинг для компаний b2b-рынка. Это предполагает разработку и реали-<br />зацию полноценной программы инте-<br />грированных маркетинговых коммуни-<br />каций или отдельных ее элементов.</p>
		</div>
	
		<div class="f-contacts">
			<span class="f-title">Адрес</span>
			<p>118108, Санкт-Петербург,<br />ул. Достоевского, 44Е<br />+7 (812) 600-21-79<br /><a href="#">office@zonazero.ru</a></p>
		</div>	
	</div>
</div>